extends base

block content
    if errorMessage
        p=errorMessage  
    form(method="POST")
        input(name="username", type="text", required, placeholder="Username")
        input(name="password", type="password", required, placeholder="Passowrd")
        input(type="submit", value="Login")
        br
        a(href="https://github.com/login/oauth/authorize?client_id=58b2225a6b17e968a8ff") Continue with Github &rarr;
    hr
    div 
        span Don't have an account?
        br
        a(href="/join") Create in now &rarr;